/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Background color for the entire page */
}

/* Container styles */
.container {
  width: 35%;
  margin-top: 50px; /* Aligns the container to the center */
  margin-bottom: 50px;
  margin-left:500px;
  padding: 40px;
  background-color: #ec3131; /* Background color for the container */
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Heading styles */
h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff4f4;
}

/* Form group styles */
.form-group {
  margin-bottom: 20px;
  color:#fff8f8;
}

/* Label styles */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Input styles */
input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 20px;
}

/* Select styles */
select {
  height: 40px;
  border-radius: 20px;
}

/* Button styles */
button[type="button"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="button"]:hover {
  background-color: #0056b3;
  border-radius: 20px;
}

/* Link styles */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.user-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}