@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f92524;
  --primary-color-dark: #e91a1a;
  --secondary-color: #faf9fe;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --white: #ffffff;
  --max-width: 1200px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
 
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  position: relative;
  padding-bottom: 0.5rem;
  padding-top: 10px; /* Corrected padding-top */
  margin-bottom: 1rem;
  margin-top: -15px;
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--text-dark);
}


.section__header::after {
  
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
}

.section__description {
  max-width: 900px;
  color: var(--text-light);
}

.bottom {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 525px;
  display: inline-block; /* Ensures the button is treated as a block element */
}

.bottom:hover {
  background-color: var(--primary-color-dark);
}


.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}



img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: var(--secondary-color);
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

.nav__logo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.nav__logo img {
  max-height: 150px;
  max-width: 150px;
  padding-left: 10px;
}

.nav__links {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--secondary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.link a {
  color: var(--text-dark);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
}

.header__container {
  display: grid;
  gap: 2rem;
}

.header__image img {
  padding-top: 10px;
  max-width: 500px;
  margin: auto;
}

.header__content h4 {
  font-size: 3.5rem;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  color: var(--text-dark);
}

.header__content .section__header {
  font-size: 2.5rem;
  font-weight: 600;
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.about__container {
  display: grid;
  gap: 2rem;
}

.about__image {
  position: relative;
  isolation: isolate;
}

.about__image img {
  max-width: 600px;
  max-height:600px;
  margin: auto;
}

 


.about__grid {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.about__card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about__card span {
  padding: 11px 19px;
  font-size: 2rem;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 100%;
}

.about__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

.about__card p {
  color: var(--text-light);
}

.class__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.class__card {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}

.class__card .class__bg {
  position: absolute;
  max-width: 175px;
  top: -3rem;
  right: -1rem;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

.class__card:hover .class__bg {
  opacity: 0.5;
}

.class__card:hover {
  transform: translateY(-10px);
}

.class__content {
  flex: 1;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--white);
}

.class__content h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 500;
}


/* Variables */
:root {
  --color-white: #ffffff;
  --color-black: #252a32;
  --color-light: #f1f5f8;
  --color-red: #d32f2f;
  --color-blue: #148cb8;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

/* Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Body */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--color-black);
  background: var(--color-white);
}

/* Container */
.container {
  max-width: 80rem;
  width: 100%;
  padding: 4rem 2rem;
  margin: 0 auto;
}

/* Main */
.main .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.main .card {
  color: var(--color-black);
  border-radius: 2px;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
}

.main .card-image {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 70%;
  background: var(--color-white);
}

.main .card-image img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  .main .container {
    grid-template-columns: 1fr;
  }
}

.head{
  align-items: center;
}

/* Footer styles */
footer {
  background-color: #c4b1b14f;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 0; /* Decrease the padding to reduce the height */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer h3 {
  font-weight:bolder;
  margin-bottom: 10px;
  font-size: 1.2em;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}
footer ul li {
  display: inline;
  margin-right: 15px;
}
footer ul li a {
  font-weight:bold ;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

footer ul li a:hover{
  color: rgb(255, 0, 0);
}

.social-icons {
  margin-bottom: 10px;
}
.social-icon {
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  margin-right: 10px;
}
.social-icon:hover {
  color: rgb(255, 0, 0);
}
.footer-copyright {
  color:black;
  font-size: 0.8em;
}

@media (width > 480px) {
  .class__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }

  .trainer__grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .trainer__card:nth-child(3) {
    grid-area: 2/2/3/3;
  }


  .footer__container {
    grid-template-columns: 2fr 1fr;
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .header__container {
    padding-block: 0;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__content {
    padding-block: 5rem;
    grid-area: 1/1/2/2;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__grid {
    gap: 3rem;
  }

  .class__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__col:first-child {
    grid-column: 1/3;
  }
}

@media (width > 1024px) {
  .class__grid {
    gap: 2rem;
  }
}


.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.member {
  text-align: center;
  position: relative;
}

.member img {
  margin-top: 2px;
  width: 320px;
  height: 450px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.member:hover img {
  transform: scale(1.1);
}

.info {
  opacity: 0;
  position: absolute;
  bottom: 0; /* Aligning the info box at the bottom */
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0 0 5px 5px; /* Rounded corners only on the bottom */
  transition: opacity 0.3s ease;
}

.member:hover .info {
  opacity: 1;
}

.info h3 {
  margin: 0;
  font-size: 24px;
  color: var(--white);
}

.info p {
  margin: 5px 0 0;
  font-size: 18px;
  color: var(--white);
}

/* Different animation for hover */
.member img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.member:hover img {
  transform: scale(1.1);
  filter: brightness(0.6); /* Dimming effect */
}





.contact-form {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  max-width: 550px;
  margin: auto;
  margin-top: -5em;
}

.contact-form .sectionHeader {
  padding-top: -25px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primaryColor);
  margin-bottom: .5em;
  
}

.contact-form .heading, .contact-form .sub-heading {
  margin-bottom: .5em;
  font-weight: bold;
}

.contact-form .heading {
  font-size: 2.5em;
}

.contact-form .sub-heading {
  text-align: left;
}

.contact-form .contactForm {
  display: grid;
  gap: 3em;
}

.contact-form form {
  width: 100%;
  margin-top: 3em;
}

.contact-form .para {
  color: var(--paraColor);
  font-size: 1.1rem;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.contact-form .para2 {
  text-align: left;
}

.contact-form .input {
  width: 95%;
  max-width: 700px;
  border: none;
  font-size: .9rem;
  padding: 1em;
  outline: none;
  background-color: var(--formBg);
  color: var(--paraColor);
  border-radius: 10px;
  border: 1px solid rgb(53, 53, 53);
  margin-bottom: 1em;
}

.contact-form .input:focus {
  border: 1px solid var(--primaryColor);
}

.contact-form .input::placeholder {
  text-transform: capitalize;
}

.contact-form .submit {
  background-color: var(--primaryColor);
  border: none;
  color: var(--textColor);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}


.contact-form .contactMethod {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  text-align: left;
}

.contact-form .method {
  display: flex;
  align-items: center;
}

.contact-form .contactIcon {
  font-size: 2rem;
  color: var(--primaryColor);
  width: 70px;
}

@media screen and (min-width:800px) {
  .contact-form {
    max-width: 1100px;
  }
  
  .contact-form .contactForm {
    grid-template-columns: 1fr 1fr;
  }   

  .contact-form .contactMethod {
    flex-direction: row;
    justify-content: space-between;
  }
}


.contact-form .submit {
  background-color: var(--primaryColor); /* Set the default background color */
  border: none;
  color: var(--textColor);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  padding: 10px 20px; /* Add padding to create space around the button text */
  border-radius: 10px; /* Add border-radius to create rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box-shadow for depth */
  background-color: #3498db; /* Maintain the default background color on hover */

}


.body_event{
  display: flex;
  justify-content: center;
  align-items: center;
  height:500px;
  width:300px;
  margin: 0;
  text-align: left;
  background-color: rgb(135, 13, 13);
}


.centered-image {
  text-align: center;
  height: 400px;
  width: 700px;
  display: block;
  margin-left:-150px;
  margin-top: -50px;
}

.button-container {
  margin-top: 20px;
}

.centered-button {
  text-align: right;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ec3131;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 270px;
  margin-top: 15px;
}

.para{
  font-family: "Poppins", sans-serif;
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.10rem;
  font-weight: 400;
  margin-top:px ;
  color: var(--text-light);
  margin-left: 100px;
}
